<% layout('layouts/boilerplate')%>
    <h2 class="text-center">New Campground</h2>
    <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="campground[title]"  required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" placeholder="location" name="campground[location]" required>
        </div>

        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" placeholder="Image URL" name="campground[image]" required>
            <input type="file" name="image" id=""  multiple>
        </div> -->

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <div class="input-group-text">$</div>
                <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]" required>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" name="campground[description]" required></textarea>
        </div>
        
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="image" id="image" multiple>
            <label class="input-group-text" for="image">Upload</label>
        </div>


        <button class="btn btn-success">Add Campground</button>
    
    </form>
    <div>
        <a href="/campgrounds/">Cancel</a>
    </div>