@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #map {
    height: 150px !important;
  }
}
body {
  background-color: #f8f8f8;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
